{% extends 'base.html' %}
{% block content %}

    <h2>{{ user.first_name }}'s Profile</h2>
    <p>Zipcode: {{ user.zipcode }}</p>
    <p>Email: {{ user.email }}</p>
    

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

    <div class="panel panel-default .col-md-6">
        <div class="panel-heading">
            <h3 class="panel-title">Contacts: </h3>
        </div>
        <div class="panel-body">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <!-- <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th> -->
                        <th>Power</th>
                    </tr>
                </thead>
                {% if contacts %}
                <tbody>
                    {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.first_name }} {{ contact.last_name }}</td>
                        <!-- <td>{{ contact.email }}</td>
                        <td>{{ contact.cell_phone }}</td>
                        <td>{{ contact.street }} {{ contact.city }} {{ contact.state }} {{ contact.zipcode }}</td> -->
                        <td>{{ contact.power }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>

    <p>Interactions: </p>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>With</th>
                <th>Frienergy</th>
                <th>Notes</th>
            </tr>
        </thead>
        {% if interactions %}
        <tbody>
            {% for i in interactions %}
            <tr>
                <td>{{ i.date }}</td>
                <td>{{ i.contact.first_name }} {{ i.contact.last_name }}</td>
                <td>{{ i.frienergy }}</td>
                {% if i.note %}
                <td>{{ i.note[0].text }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
    <p>Frienergy Stats: </p>

{% endblock %}