{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">

    <!-- profile information row -->
    <div class="row">

        <!-- profile column -->
        <div class="col-xs-12">

            <!-- profile panel -->
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#profileEditModal" id="edit-profile-button">Edit</button>
                    <h2 class="pull-left">{{ user.first_name }}'s Profile</h2>
                </div>
                <div class="panel-body">
                    <p>Zipcode: {{ user.zipcode }}</p>
                    <p>Email: {{ user.email }}</p>
                </div>
            </div>

        </div>

    </div>

    <!-- contacts and interactions row-->
    <div class="row">

        <!-- contacts column -->
        <div class="col-xs-5">
            
            <!-- contacts panel -->
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <a href="" role="button" class="pull-right" data-toggle="modal" data-target="#addContactModal"><img src="/static/images/add_contact.png" style="height: 24px; width: 24px"></a>
                    <!-- <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#addContactModal">Add Contact</button> -->
                    <h3 class="panel-title pull-left">Contacts: </h3>

                </div>
                <div class="panel-body panel-fixed">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Relationship Power</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% if contacts %}
                        <tbody>
                            {% for item in contacts %}
                            <tr class="contact-info">

                                <!-- name is a link to relationship modal -->
                                <td><a href="" class="relationship-link" data-toggle="modal" data-target="#relationshipModal" data-contact-id="{{ item[3] }}" data-name="{{ item[1] }} {{ item[2] }}">{{ item[1] }} {{ item[2] }}</a></td>

                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ item[0] }}%;">
                                        <!-- <span class="sr-only">60% Complete</span> -->
                                        </div>
                                    </div>
                                </td>

                                <!-- button stores contact name and id -->
                                <td>
                                    <a href="" role="button" class="pull-right add-int" data-toggle="modal" data-target="#addInteractionModal" data-name="{{ item[1] }} {{ item[2] }}" data-contact-id="{{ item[3] }}"><img src="/static/images/plus.png" style="height: 24px; width: 24px"></a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>

        </div>

        <!-- interactions column -->
        <div class="col-xs-4">

            <!-- interactions panel -->
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Interactions: </h3>
                </div>
                <div class="panel-body panel-fixed">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>With</th>
                                <th>Frienergy</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        {% if interactions %}
                        <tbody>
                            {% for i in interactions %}
                            <tr>
                                <!-- date is a link to edit interaction -->
                                <td><a href="" class="interaction-link" data-toggle="modal" data-target="#editInteractionModal" data-int-id="{{ i[0].interaction_id }}">{{ i[1] }}</a></td>
                                <td>{{ i[0].contact.first_name }} {{ i[0].contact.last_name }}</td>
                                <td>{{ i[0].frienergy }}</td>
                                {% if i[0].note %}
                                <td><a href="" class="note-popover" data-toggle="popover" data-trigger="focus" title="Note" data-placement="top" data-id="{{ i[0].interaction_id }}" tabindex="0" role="button" id="popover-tag"><img src="/static/images/Note.png" alt="Note" height="24" width="24"></a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>

        </div>

        <!-- reminders column -->
        <div class="col-xs-3" ng-controller="MainController">
            
            <!-- reminders panel -->
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    
                    <h3 class="panel-title pull-left">Reminders: </h3>

                </div>
                <div class="panel-body panel-fixed">

                    <table class="table" ng-if="reminders != []">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Days Overdue</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="r in reminders" class="contact-info reminder-list">
                                <td>{[ r.first_name ]} {[ r.last_name ]}</td>
                                <td>{[ r.days_overdue ]}</td>
                            </tr>
                        </tbody>
                        
                    </table>
                    <div ng-if="reminders == []">
                        <p>You have no reminders.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Edit Profile Modal -->
<div class="modal fade" id="profileEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
                <h5 class="prepopulate" id="user-name"></h5>
            </div>

            <!-- modal body -->
            <div class="modal-body">
                <!-- form -->
                <form action="/editProfile" id="edit-profile-form" class="form-horizontal" method="POST">

                <div class="form-group">
                  <label for="firstName" class="col-sm-2 control-label">First Name</label>
                  <div class="col-sm-10">
                    <input type="text" name="first-name" class="form-control prepopulate" id="first-name">
                  </div>
                </div>

                <div class="form-group">
                  <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                  <div class="col-sm-10">
                    <input type="text" name="last-name" class="form-control prepopulate" id="last-name">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" name="email" class="form-control prepopulate" id="email">
                  </div>
                </div>

                <div class="form-group">
                  <label for="zipcode" class="col-sm-2 control-label">Zipcode</label>
                  <div class="col-sm-10">
                    <input type="text" name="zipcode" class="form-control prepopulate" id="zipcode" size="5">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword" class="col-sm-2 control-label" required>New Password</label>
                  <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="inputPassword">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                  </div>
                </div>
              </form>
                
            </div>

        </div>

    </div>

</div>

<!-- Relationship Modal -->
<div class="modal fade" id="relationshipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h4 class="modal-title" id="myModalLabel">Relationship</h4>

                <h5 id="contact-name-for-relationship" class="pull-left"></h5>

                <button type="button" id="contact-id-for-relationship" class="btn btn-primary btn-sm pull-right edit-contact" data-toggle="modal" data-dismiss="modal" data-target="#editContactModal">Edit Contact</button>

            </div>

            <!-- modal body -->
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Cell Phone</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="relationship" id="name"></td>
                            <td class="relationship" id="email"></td>
                            <td class="relationship" id="cell-phone"></td>
                            <td class="relationship" id="address"></td>
                        </tr>
                    </tbody>
                </table>
                
                <ul>
                    <li class="relationship" id="total-ints"></li>
                    <li class="relationship" id="total-frienergy"></li>
                    <li class="relationship" id="avg-power"></li>
                    <li class="relationship" id="avg-t-btwn-ints"></li>
                    <li class="relationship" id="t-since-last-int"></li>
                    <li class="relationship" id="avg-frienergy-each-interaction"></li>
                    <li class="relationship" id="notes"></li>
                </ul>

            </div>

        </div>

    </div>

</div>

<!-- Add Contact Modal -->
<div class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Contact</h4>
            </div>

            <!-- modal body -->
            <div class="modal-body">

                <!-- form -->
                <form action="/addContact" id="add-contact-form" class="form-horizontal" method="POST">

                <div class="form-group">
                    <label for="first-name" class="col-sm-2 control-label">First Name </label>
                    <div class="col-sm-10">
                        <input type="text" name="first-name" class="form-control" id="first-name" placeholder="First" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="last-name" class="col-sm-2 control-label">Last Name </label>
                    <div class="col-sm-10">
                        <input type="text" name="last-name" class="form-control" id="last-name" placeholder="Last">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact-email" class="col-sm-2 control-label">Email </label>
                    <div class="col-sm-10">
                        <input type="email" name="contact-email" class="form-control" id="contact-email" placeholder="email@domain.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cell-phone" class="col-sm-2 control-label">Cell Phone </label>
                    <div class="col-sm-10">
                        <input type="text" name="cell-phone" class="form-control" id="cell-phone" placeholder="415-555-1234">
                    </div>
                </div>
                <div class="form-group">
                    <label for="street" class="col-sm-2 control-label">Street </label>
                    <div class="col-sm-10">
                        <input type="text" name="street" class="form-control" id="street" placeholder="1234 Main St. #567">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-2 control-label">City </label>
                    <div class="col-sm-10">
                        <input type="text" name="city" class="form-control" id="city" placeholder="Redwood City">
                    </div>
                </div>
                <div class="form-group">
                    <label for="state" class="col-sm-2 control-label">State </label>
                    <div class="col-sm-10">
                        <input type="text" name="state" class="form-control" id="state" placeholder="CA">
                    </div>
                </div>
                <div class="form-group">
                    <label for="zipcode" class="col-sm-2 control-label">Zipcode </label>
                    <div class="col-sm-10">
                        <input type="text" name="zipcode" class="form-control" id="zipcode" placeholder="94062">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary pull-right">Add</button>
                    </div>
                </div>

                </form>

            </div>

        </div>

    </div>

</div>

<!-- Edit Contact Modal -->
<div class="modal fade" id="editContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Contact</h4>
            </div>

            <!-- modal body -->
            <div class="modal-body">

                <!-- form -->
                <form action="/editContact" id="edit-contact-form" class="form-horizontal" method="POST">

                <input type="hidden" id="prepopulate-contact-id" name="contact-id">

                <div class="form-group">
                    <label for="first-name" class="col-sm-2 control-label">First Name </label>
                    <div class="col-sm-10">
                        <input type="text" name="first-name" class="form-control" id="prepopulate-first-name" placeholder="First" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="last-name" class="col-sm-2 control-label">Last Name </label>
                    <div class="col-sm-10">
                        <input type="text" name="last-name" class="form-control" id="prepopulate-last-name" placeholder="Last">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact-email" class="col-sm-2 control-label">Email </label>
                    <div class="col-sm-10">
                        <input type="email" name="contact-email" class="form-control" id="prepopulate-email" placeholder="email@domain.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cell-phone" class="col-sm-2 control-label">Cell Phone </label>
                    <div class="col-sm-10">
                        <input type="text" name="cell-phone" class="form-control" id="prepopulate-cell-phone" placeholder="415-555-1234">
                    </div>
                </div>
                <div class="form-group">
                    <label for="street" class="col-sm-2 control-label">Street </label>
                    <div class="col-sm-10">
                        <input type="text" name="street" class="form-control" id="prepopulate-street" placeholder="1234 Main St. #567">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-2 control-label">City </label>
                    <div class="col-sm-10">
                        <input type="text" name="city" class="form-control" id="prepopulate-city" placeholder="Redwood City">
                    </div>
                </div>
                <div class="form-group">
                    <label for="state" class="col-sm-2 control-label">State </label>
                    <div class="col-sm-10">
                        <input type="text" name="state" class="form-control" id="prepopulate-state" placeholder="CA">
                    </div>
                </div>
                <div class="form-group">
                    <label for="zipcode" class="col-sm-2 control-label">Zipcode </label>
                    <div class="col-sm-10">
                        <input type="text" name="zipcode" class="form-control" id="prepopulate-zipcode" placeholder="94062">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-danger col-sm-offset-5" formaction="/deleteContact">Delete Contact</button>
                        <button type="submit" class="btn btn-primary pull-right">Update Contact</button>
                    </div>
                </div>

                </form>

            </div>

        </div>

    </div>

</div>

<!-- Add Interaction Modal -->
<div class="modal fade" id="addInteractionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Interaction</h4>
                <h5 id="contact-name-for-form"></h5>
            </div>

            <!-- modal body -->
            <div class="modal-body">

                <!-- form -->
                <form action="/addInteraction" id="add-interaction-form" class="form-horizontal" method="POST">
                <div class="form-group">
                    <input type="hidden" name="contact-id" id="contact-id">
                </div>
                <div class="form-group">
                    <label for="date" class="col-sm-2 control-label">Date </label>
                    <div class="col-sm-10">
                        <input type="date" name="date" class="form-control" id="date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="frienergy" class="col-sm-2 control-label">Frienergy </label>
                    <div class="col-sm-10">
                        <input type="number" name="frienergy" class="form-control" id="frienergy" min="1" max="10">
                    </div>
                </div>
                <div class="form-group">
                    <label for="notes" class="col-sm-2 control-label">Notes </label>
                    <div class="col-sm-10">
                        <input type="textarea" name="notes" class="form-control" id="notes" rows="2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary pull-right" id="add-int-submit">Add</button>
                    </div>
                </div>
                </form>

            </div>

        </div>

    </div>

</div>

<!-- Edit Interaction Modal -->
<div class="modal fade" id="editInteractionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Interaction</h4>
                <h5 id="prepopulate-contact-name" class="pull-left"></h5>
            </div>

            <!-- modal body -->
            <div class="modal-body">

                <!-- form -->
                <form action="/editInteraction" id="edit-interaction-form" class="form-horizontal" method="POST">
                <div class="form-group">
                    <input type="hidden" id="prepopulate-int-id" name="interaction-id">
                    <input type="hidden" id="prepopulate-note-id" name="note-id">
                </div>
                <div class="form-group">
                    <label for="date" class="col-sm-2 control-label">Date </label>
                    <div class="col-sm-10">
                        <input type="date" id="prepopulate-date" name="date" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="frienergy" class="col-sm-2 control-label">Frienergy </label>
                    <div class="col-sm-10">
                        <input type="number" id="prepopulate-frienergy" name="frienergy" class="form-control" min="1" max="10">
                    </div>
                </div>
                <div class="form-group">
                    <label for="notes" class="col-sm-2 control-label">Notes </label>
                    <div class="col-sm-10">
                        <input type="textarea" id="prepopulate-note" name="notes" class="form-control" rows="2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-danger col-sm-offset-4" formaction="/deleteInteraction">Delete Interaction</button>
                        <button type="submit" class="btn btn-primary pull-right">Update Interaction</button>
                    </div>
                </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}