{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">

    <div class="row">

        <div class="col-md-12 text-center">
            <div class="page-header">
                <h1>FRIENERGY <small> Streamline your social interactions</small></h1>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <h3 class="text-center">How it works</h3>
            <p>Frienergy is a contact management system for your frieneds. </p>
            <p>Enter contact information and social interactions. Frienergy will remind you when it's time to reach out again.</p>
        </div>

        <div class="col-md-4">
            <h3 class="text-center">Why Frienergy?</h3>
            <ul>
                <li>Keep the friends that matter close</li>
                <li>Reminders to reach out, only at the right times</li>
                <li></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3 class="text-center">Sign-up and Get Started!</h3>
            <p>Click on the registration link above to get started. It's free!</p>
        </div>

    </div>

</div>

{% endblock %}
