{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">

    <div class="row">

        <div class="col-md-12 text-center">
            <div class="page-header">
                <h1>Frienergy</h1>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12 text-center">
            <h2 class="homepage">Manage your social contacts</h2>
            <h2 class="homepage">Monitor your interactions</h2>
            <h2 class="homepage">Improve your relationships</h2>
            <h3 class="homepage"><a data-toggle="modal" href="#registerModal">REGISTER</a></h3>
        </div>

    </div>


    <!-- <div class="row">

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">How it works</h4>
                </div>
                <div class="panel-body">
                    <p>Frienergy is a contact management system for your frieneds. </p>
                    <p>Enter contact information and social interactions. Frienergy will remind you when it's time to reach out again.</p>
                    <p>Frienergy also provides a graphical representation of your social interactions. You can see charts about how often you interact with friends in general, or with any specific friend.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">What is "Frienergy"?</h4>
                </div>
                <div class="panel-body">
                    <p>Frienergy is an arbitrary measurement of how meaningful interactions with friends are for you.</p>
                    <p>If an interaction with a friend involves a lot of quality time, expensive gifts, meaningful affirmations, or is in any way a relationship improver, rank it with lots of frienergy!</p>
                </div>
            </div>            
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">Why Frienergy?</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Keep the friends that matter close</li>
                        <li>Reminders to reach out, only at the right times</li>
                        <p>Note: Frienergy is not competitive in any way. All interactions are user-inputted and you will never be compared to other users.</p>
                    </ul>
                </div>
            </div>
        </div>

    </div> -->

</div>

{% endblock %}
